footer
  hr
  .container.text-center
    //- p.float-left © 2019 Company, Inc. All Rights Reserved
    ul
      li.list-inline-item
        a(href='https://github.com/nshdesai/Sagacity', target="_blank") GitHub Project
      li.list-inline-item
        a(href='https://github.com/nshdesai/Sagacity/issues', target="_blank") Issues
