extends layout

block content
  h1 Sagacity
  p.lead An application that takes pictures or fragmented notes and converts them into high quality, readable and organized notes
  hr
  .row
    .col-md-12
      h2 Based on GPT-2
      p
        a.btn.btn-raised(href='https://openai.com/blog/better-language-models/', target="_target", role='button') Learn more »