extends layout

block content
  h1
    i.fas.fa-greater-than.fa-sm 
    | Sagacity
  p.lead An application that takes pictures or fragmented notes and converts them into high quality, readable and organized notes
  hr
  .row
    .col-md-12
      p This project was based on the state of the art language A.I model.
      p
        a.btn.btn-raised(href='https://openai.com/blog/better-language-models/', target="_target", role='button') Learn more »