extends layout

block content
  h1
    i.fas.fa-align-justify.fa-sm 
    | Notes
    hr
  
  div.container
    each image in notes.images
      img(src=`data:image/jpeg;base64, ${image.image.toString('base64')}`, width='40%', height='40%' style={padding: '10px'})